{% extends 'basepage.html' %}{% load static %}{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1>Explore Quotes</h1>
        </div>
        <div class="text-center mt-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolorem blanditiis sit incidunt accusamus neque quia adipisci cumque impedit iste nemo rem, architecto, illo beatae hic officiis aut! Deserunt, inventore. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Nesciunt facere earum optio aperiam, exercitationem cupiditate delectus at magni adipisci accusamus ad hic ab libero labore? Consequatur accusantium nam nobis odit.lore Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Suscipit sint laborum similique explicabo laudantium temporibus possimus fugit totam ratione minus? Sapiente in cumque esse dolorem sunt assumenda ratione pariatur debitis! Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Qui voluptatum quis a voluptas magni consequuntur, perspiciatis explicabo necessitatibus repellat. Corporis, soluta sapiente asperiores eum quos omnis sunt harum rem aperiam. lore,

            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores officia natus sint eius doloribus nostrum delectus mollitia, ducimus, debitis consequuntur cupiditate. Quia, quis accusamus. Nulla ea ipsam architecto dignissimos iste!</p>
        </div>
    </div>
</div>

<div class="col-2"></div>

{% endblock %}