<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>


    <div class="container mt-5">

        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6" style="background-color: rgb(204, 102, 116); border-radius: 7px;">
                <div class="text-center mt-4">
                    <h2>User Signup</h2>
                </div>
                <form action="" method="POST" name="myform" onsubmit="return validateform()">
                    {% csrf_token %}
                    <div class="mb-3 mt-4">
                        <label for="exampleInputtext1" class="form-label"><h5>Name</h5></label>
                        <input type="text" class="form-control" id="name" aria-describedby="textHelp" name="name">
                    </div> <span id="label1"></span>
                    <div class="mb-3">
                        <label for="exampleInputtext1" class="form-label"><h5>User Name</h5></label>
                        <input type="text" class="form-control" id="username" aria-describedby="textHelp" name="username">
                    </div> <span id="label2"></span>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"><h5>Password</h5></label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div> <span id="label3"></span>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"><h5>Confirm Password</h5></label>
                        <input type="password" class="form-control" id="confpassword" name="confpassword">
                    </div> <span id="label4"></span>

                    <input type="submit" value="SignUp" id="btn" class="btn btn-primary form-control">

                </form>

                <div class="text-center mt-3">
                    <p>You have an already account?
                        <a href="userlogin">Login</a>
                    </p>
                </div>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>

    <script>
        function validateform() {
            var name = document.myform.name.value;
            var username = document.myform.username.value;
            var password = document.myform.password.value;
            var confpassword = document.myform.confpassword.value;

            if (name == "") {
                document.getElementById('label1').innerHTML = "* All Fields Are Mandatory"
                document.getElementById('label1').style.color = "red"
                return false;
            } else if (username == "") {
                document.getElementById('label2').innerHTML = "* All Fields Are Mandatory"
                document.getElementById('label2').style.color = "red"
                return false;
            } else if (password.length < 6) {
                document.getElementById('label3').innerHTML = "Password must be at least 6 characters long."
                document.getElementById('label3').style.color = "red"
                return false;
            } else if (password != confpassword) {
                document.getElementById('label4').innerHTML = "Password And Confirm Password Are Not Same"
                document.getElementById('label4').style.color = "red"
                return false;
            }

        }


        // Ajax .. check username 

        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            }
        })
        $("#username").keyup(function() {
            $.ajax({
                url: 'usernameAjax',
                type: 'POST',
                data: {
                    username: $('#username').val(),
                },
                success: function(res) {
                    if (res.message == true) {

                        $('#label1').html("User Name Already Exist").css("color", "red")
                        var $submit = $('#btn');
                        $submit.prop('disabled', true);
                    } else {
                        $("#label1").html("User Name Available").css("color", "green")
                        var $submit = $('#btn');
                        $submit.prop('disabled', false);
                    }
                }
            })
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>