{% extends 'basepage.html' %}{% block content %}
<div class="text-center mb-2">
    <h1>POSTS</h1>
</div>
<div class="container">

    {% for quote in quotes %}

    <div class="row">
        <div class="col" style="background-color: rgb(234, 197, 203); border-radius: 10px;">
            <div class="ms-3 mt-3">
                <h3>{{quote.user.userName}}</h3>
            </div>
            <div class="ms-3 mt-4">
                <p>
                    <h5>{{quote.quotes.quotes}}</h5>
                </p><br>
            </div>
            <form action="" method="post">
                {% csrf_token %} {% if d.like %}

                <button type="submit" id="" class="fa fa-thumbs-up" name="unlike" style="font-size: 38px; color:red;"></button> {% else %}

                <button type="submit" id="" class="fa fa-thumbs-up" name="like" style="font-size: 38px; color:black;"></button> {% endif %}

                <input type="hidden" name="li_post" value="{{d.id}}">
            </form>
            {% if d.like != 0 %}
            <b>{{d.like_count}} Like 1 Person {{d.like_count|pluralize}}</b> {% endif %}
        </div>

    </div>
    <hr> {% endfor %}
    <br>
</div>
<br>

</div> {% endblock %}